*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#rightSideFooter{
    display: flex;
    background-color: #202c33;
    height: 10.5%; 
}
#rightSideFooter_ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 350px;
}

#rightSideFooter_ul li{
    list-style: none;
    margin: 10px;
    color: #aebac1;

}
#rightSideFooter_ulInput{
    flex-grow: 5;
    border-radius: 10px;
    background-color: #2b3b46;
    /* opacity: 0.3; */
    text-align: center;
    padding: 5px 0;
    height: 45px;
}
#rightSideFooter_ulInput input{
    display: inline-block;
    width: 90%;
    border: none;
    outline: none;
    background-color: inherit;
    height: 100%;
}
#rightSideFooter_ulInput input::placeholder{
    color: #aebac1;
}
#rightSideFooter_ulInput input:focus{
    color: #aebac1;
}